:root{

}
body{
    margin:0;
    background-color: black;
}
nav{
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;

}
nav > div {
    display: flex;
    margin-left:auto;
    align-items: center;
}
nav > *{
    margin:25px;
    font-size: larger;
}
.font{
    font-family: "Space Grotesk";
}
.link{
    text-decoration:none;
}
.nav-link{
    margin-left: 40px; 
}
.color{
    color: #9ACFFF;
}
#translator{
    width: 72px;
    height: 55.066px ;
}
#translator:hover ~ ul{
    height:50px;
    overflow:visible;
    background-color: black;
    transition: height 2s;
}
#logo{
    width: 72px;
    height: 73px;
    margin-left: 10%;
}
ul{
    margin:0;
    list-style-type: none;
    overflow:hidden;
    position: absolute;
    height:0;
    transition: height 2s, overflow 1s;
    background-color: black;
}
#holo-cube{
    margin-top: 10px;
    margin-left: 350px;
}
#holoskl{
    color: #0c67bc;
    font-size: larger;
    margin-right: 10px;

}
#holo-b{
    width:48.6px ;
    height:57.066px ;
}
#insta-l{
    width: 44.125px;
    height: 44px;
    margin-right: 13px;
}
#email-l{
    width:44.88px;
    height: 34.88px;
    margin-right: 15px;
}
footer{
    background-color: #002E50;
  
 
    
    
}
.margin{
    margin-right:15 px;
}
.back-img{
    background-image: url('holographic cube.jpg');
    background-repeat: no-repeat;
}
.arrow-button{
    color: white;
    font-size: 50px;
}
.card{
    margin: auto;
    border: 1px solid color(#9ACFFF);
    border-radius: 15px;
    width: 60%;
    display: inline-block;
    padding: 10px;
}
 #header{
      font-weight: bolder;
 }
 a:hover{
    background-color: #9ACFFF;
    color: black;

 }
 .img-size{
    width: 100px;
 }
 .grid{
    display: grid;
    grid-template-columns: auto auto;
    width:30%;
    padding:15px;
 }
 .img-border{ 


 }
