#holo-cube{
    margin-top: 10px;
    margin-left: 350px;
}
#holoskl{
    color: #0c67bc;
    font-size: larger;
    margin-right: 10px;
}
#holo-b{
    width:48.6px ;
    height:57.066px ;
}

footer{
    background-color: #002E50;
}
.arrow-button{
    color: white;
    font-size: 50px;
}
.card{
    margin: auto;
    border: 1px solid color(#9ACFFF);
    border-radius: 15px;
    width: 60%;
    display: inline-block;
    padding: 10px;
}
 #header{
      font-weight: bolder;
 }
 a:hover{
    background-color: #9ACFFF;
    color: black;
 }
 .img-size{
    width: 100px;
 }
 .grid{
    display: grid;
    grid-template-columns: auto auto;
    width:30%;
    padding:15px;
} 
.star {
    font-size: 7vh;
    color:grey;
    cursor: pointer;
}
.star:hover{
    color:#c4baba69;
} 
    .circle-button {
        width: 60px; 
        height: 60px;
        border-radius: 50%;
        background-color: black; 
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border: none;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
      }
  
      
      .circle-button i {
        border: solid white;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 8px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
  
      .circle-button i.down {
        transform: rotate(43deg); 
      }
  
      
      .circle-button:hover {
        background-color: #555;
      }