
footer{
    background-color: #002E50;
}
.footer-logo h2 {
    color: #9ACFFF;
    font-size: 24px;
  }
  
  .footer-logo p {
    font-size: 14px;
    color: #9ACFFF;
  }
  
  /* Navigation Links */
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    display: inline-block;
    margin: 0 20px;
    position: relative; /* For dropdown positioning */
  }
  
  .footer-links a {
    color: #9ACFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  } 
  .footer-social p {
    color: #9ACFFF;
    font-size: 14px;
  }
  
  .footer-social a {
    color: #9ACFFF;
    margin: 0 10px;
    font-size: 18px;
  }
  .footer-copy {
    font-size: 12px;
    color: #9ACFFF;
  }
  .footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
  /* Logo & Description */
.footer-logo h2 {
    color: #9ACFFF;
    font-size: 24px;
  }
  .footer-logo p {
    font-size: 14px;
    color: #9ACFFF;
  }
  
  /* Navigation Links */
  .footer-links ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-links li {
    display: inline-block;
    margin: 0 20px;
    position: relative; /* For dropdown positioning */
  }
  
  .footer-links a {
    color: #9ACFFF;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
  }
  footer {
    border-top: 1px solid #7765c7;
    background-color: black;
    color: white;
    padding: 30px 10%;
    text-align: center;
  }
  
  .footer_left_1 {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .footer_left_name {
    margin-left: 20px;
    font-size: 25px;
    text-decoration: none;
    color: #9ACFFF;
  
  }
  .footer_left_name:hover{
    color: #7765c7;
    text-decoration: none;
    
  }
  .footer_left_3 {
    justify-content: left;
    display: flex;
  }
  .insta-icon {
    font-size: 20px;
    color: #9ACFFF;
    margin-left: 10px;
  }
  .insta-icon:hover{
    color: white
  }
  .em-icon{
    font-size: 20px;
    color: #9ACFFF;
    margin-left: 10px;
  }
  .footer-copy{
    
        font-size: 12px;
        color: #9ACFFF;
      
  }
  
 
